.abc
{
    display: flex;
    align-items: center;
}
.bor{
    border: 1px solid black;
    width: 500px;
    padding: 30px;
    margin-left: 550px;
    margin-top: 200px;
}
button
{
    position: absolute;
    left:1050px;
}